.b1{
    position: relative;
}
.i1{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 64px;
    width: 64px;
    position: absolute;
    left: 40px;
    bottom: 5px;
}

.i2{
    height: 64px;
    width: 64px;
    position: absolute;
    right: 40px;
    bottom: 5px;
}